{% define vui_dashboard %}
<div id="{{ id }}" class="vui-dashboard {{ class_name }}" >
	<div id="{{ id }}_header" class="vui-dashboard-header"></div>
	<div class="vui-dashboard-body">
		<div class="vui-dashboard-top-sep">
			<div class="vui-dashboard-top-left">
				<div class="vui-dashboard-top-bg"></div>
			</div>
		</div>
		<div class="vui-dashboard-leftpanel">
			<div  id="{{ id }}_leftpanel" class="vui-dashboard-leftpanel-content"></div>
		</div>
		<div id="{{ id }}_main_container" class="vui-dashboard-main-container">
			<div style="height: 100px;background: red;"></div>
		</div>
	</div>
	<div class="vui-dashboard-leftpanel-bottom"></div>
</div>
{% end define %}
