{% define vui_mask %}
<div id="{{ id }}" class="vui-{{ name }} {{ class_name }}"></div>
{% end define %}

{% define vui_state %}
<div id="{{ id }}_state" class="vui-{{ name }}-state"></div>
{% end define %}

{% define vui_button %}
<div id="{{ id }}" class="vui-box vui-{{ name }} {{ class_name }}">
	<div class="vui-{{ name }}-wrap">
		<div id="{{ id }}_body" class="vui-{{ name }}-body" unselectable="on" {% if (title) { %} title="{{ title }}" {% } %}>
			{% if (show_icon) { %} <div class="vui-box vui-icon"></div> {% } %}
			{% if (show_text) { %} <div class="vui-box vui-label">{{ label }}</div> {% } %}
		</div>
	</div>
</div>
{% end define %}

{% define vui_dialog %}
<div id="{{ id }}" style="width: 100px;height: 100px;left: 200px;position: absolute;background:blue;">
	<div id="{{ id }}_drag_handle" style="height: 20px; background: red;">
	</div>
</div>
{% end define %}

{% define vui_popup %}
<div id="{{ id }}" class="vui-popup vui-{{ name }} {{ class_name }}" >
	<div id="{{ id }}_body" class="vui-popup-body">
		<iframe style="position:absolute;z-index:-1;left:0;top:0;background-color: white;" frameborder="0" width="100%" height="100%" src="javascript:"></iframe>
		<div id="{{ id }}_shadow" class="vui-shadow"></div>
		<div id="{{ id }}_content" class="vui-popup-content">
		</div>
	</div>
</div>
{% end define %}

{% define vui_menuitem %}
<div id="{{ id }}" class="vui-{{ name }} {{ class_name }}" unselectable="on">
	<div class="vui-arrow" unselectable="on"></div>
	<div class="vui-box vui-icon" unselectable="on"></div>
	<div class="vui-box vui-label" unselectable="on">{{ label || '' }}</div>
</div>
{% end define %}

{% define vui_menu_separator %}
<div id="{{ id }}" class="vui-menuitem vui-menuseparator">
	<div class="vui-menuseparator-inner"></div>
</div>
{% end define %}

