.notify {
	font-weight: bold;
	display: none;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5)
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
}

.notify-heading {
	color: inherit;
}

.notify .close {
	position: absolute;
	top: 5px;
	right: 10px;
	line-height: 18px;
}

.notify-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.notify-danger,
.notify-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.notify-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.notify-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

button.close {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.close {
	display: block;
	float: right;
	font-size: 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.close:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.icon32 {
	background: url(img/icon_32.png);
	height: 32px;
	width: 32px;
	line-height: 0;
	font-size: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.icon32-folder {
	background-position: 0 -523px;
}

.icon32-rtf {
	background-position: 0 -764px;
}

