{% extends "product/layout.html" %}
{% load static %}

{% block content %}

<div class="product-show clearfix">
	<div class="img-box">
		<img src="{% static "img/jy00221.jpg" %}" alt="" />
	</div>
	<div class="info-box">
		<div class="detail">
			<h5>{{ product.sku }}</h5>
			<div class="spu">
				<ul class="spu-info">
					<table>
						<tr>
							<td>商品名称：</td>
							<td>{{ product.name }}</td>
						</tr>
						<tr>
							<td>型&#12288;&#12288;号：</td>
							<td>{{ product.sku }}</td>
						</tr>
						{% for property in product.properties.all %}
						<tr>
							<td>{{ property.key }}：</td>
							<td>{{ property.value }}</td>
						</tr>
						{% endfor %}
					</table>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="serial-info">
	<div class="tab-bar">
		<ul class="clearfix">
			<li class="tab-first selected">
				<a class="tab-anchor no-outline" rel="summary" href="javascript:;">产品特点</a>
			</li>
			<li>
				<a class="tab-anchor no-outline" rel="summary" href="javascript:;">中宇技术</a>
			</li>
			<li>
				<a class="tab-anchor no-outline" rel="summary" href="javascript:;">装配图</a>
			</li>
			<li>
				<a class="tab-anchor no-outline" rel="summary" href="javascript:;">说明书</a>
			</li>
			<li class="tab-last">
				<a class="tab-anchor no-outline" rel="summary" href="javascript:;">相关产品</a>
			</li>
		</ul>
	</div>

	<div class="tab-content">
		<div id="summary">
			<div class="article">
				{% autoescape off %}
				{{ product.summary }}
				{% endautoescape %}
			</div>
		</div>

		<div class="tech">
		</div>
	</div>
</div>
{% endblock %}
