{% extends "product/layout.html" %}
{% load static %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/product/">产品展示</a>
	<a href="/product/joyou/">JOYOU</a>
	<em>整体卫浴</em>
{% endblock %}

{% block content %}
<div class="product-list-row">
	<div class="border-left">
		<div class="border-right">
			<ul class="clearfix">
				<li class="first-item">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00221">
								<img width="215" height="143" src="{% static "img/JY00221_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00221</h5>
							</a>
							<a href="" class="title">单孔单把脸盆龙头</a>
						</div>
					</div>
				</li>
				<li class="border-left">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00223">
								<img width="215" height="143" src="{% static "img/JY00223_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00223</h5>
							</a>
							<a href="" class="title">单把浴缸龙头</a>
						</div>
					</div>
				</li>
				<li class="border-left">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00224">
								<img width="215" height="143" src="{% static "img/JY00224_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00224</h5>
							</a>
							<a href="" class="title">单把淋浴龙头</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="product-list-row">
	<div class="border-left">
		<div class="border-right">
			<ul class="clearfix">
				<li class="first-item">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00226">
								<img width="215" height="143" src="{% static "img/JY00226_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00226</h5>
							</a>
							<a href="" class="title">单孔单把碗盆龙头</a>
						</div>
					</div>
				</li>
				<li class="border-left">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00231">
								<img width="215" height="143" src="{% static "img/JY00231_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00231</h5>
							</a>
							<a href="" class="title">单孔单把脸盆龙头</a>
						</div>
					</div>
				</li>
				<li class="border-left">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00233">
								<img width="215" height="143" src="{% static "img/JY00233_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00233</h5>
							</a>
							<a href="" class="title">单把浴缸龙头</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="product-list-row">
	<div class="border-left">
		<div class="border-right">
			<ul class="clearfix">
				<li class="first-item">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00234">
								<img width="215" height="143" src="{% static "img/JY00234_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00234</h5>
							</a>
							<a href="" class="title">单把淋浴龙头</a>
						</div>
					</div>
				</li>
				<li class="border-left">
					<div class="product-container">
						<div class="img-box">
							<a href="/product/joyou/faucet/shunv/JY00236">
								<img width="215" height="143" src="{% static "img/JY00236_t.jpg" %}">
							</a>
						</div>
						<div class="info-box">
							<a href="">
							<h5>JY00236</h5>
							</a>
							<a href="" class="title">单孔单把碗盆龙头</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
