{% extends "product/layout.html" %}
{% load static %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/product/">产品展示</a>
	<a href="/product/joyou/">JOYOU</a>
	<em>整体卫浴</em>
{% endblock %}

{% block content %}
<div class="serials-list">
	<div id="list-item">
		<a href="#">
			<img width="215" height="142" src="{% static "img/serials_3.jpg" %}">
		</a>
		<span>城市映像系列</span>
		<br>对于城市，我们有多少想象？对于城市生活，我们又有多少憧憬？水城威尼斯、风城芝加哥、翡翠西雅图、十里洋场上海……中宇“城市映像”系列始终卓立时代潮头领跑人生，超越想象！
	</div>
	<div id="ProClass">
		<a href="#">
			<img width="215" height="142" src="{% static "img/serials_1.jpg" %}">
		</a>
		<span>爱琴那</span>
		<br>爱琴那岛，爱琴海众多岛屿中距离雅典最近的一个，曾经是美丽的人间仙境，拥有美丽的希腊神话，它是宙斯最动人情妇的住地，却在拯救希腊的萨拉斯战役中名扬天下。
	</div>
	<div id="ProClass">
		<a href="#">
			<img width="215" height="142" src="{% static "img/serials_2.jpg" %}">
		</a>
		<span>北海道之夏</span>
		<br>日本北海道的夏季，原野鲜花盛开，气候凉爽，拥有蔚蓝广阔的天空及无边土地，是避暑的胜地。置身其中，仿佛陷入恍若如梦的迷离之中，时光交错真假难辨，多少惊心动魄皆成过眼烟云。
	</div>
	<div id="ProClass">
		<a href="#">
			<img width="215" height="142" src="{% static "img/serials_4.jpg" %}">
		</a>
		<span>拉古娜</span>
		<br>马尔代夫群岛中的只有度假行家才知道的岛屿，宛如世外桃源，拥有最高度的隐私与宁静，保留文明色彩，童话色彩异常浓烈，给人与世隔绝之感。
	</div>
</div>
{% endblock %}
