{% extends "product/layout.html" %}
{% load static %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/product/">产品展示</a>
	<em>JOYOU</em>
{% endblock %}

{% block content %}
<ul class="serials list-horizontal">
	<li>
		<a href="/product/joyou/faucet/">
			<img width="215" height="142" src="{% static "img/faucet.jpg" %}">
		</a>
		<img src="{% static "img/faucet_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/shower/">
			<img width="215" height="142" src="{% static "img/shower.jpg" %}">
		</a>
		<img src="{% static "img/shower_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/ceramic/">
			<img width="215" height="142" src="{% static "img/ceramic.jpg" %}">
		</a>
		<img src="{% static "img/ceramic_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/cabinet/">
			<img width="215" height="142" src="{% static "img/cabinet.jpg" %}">
		</a>
		<img src="{% static "img/cabinet_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/bathtub/">
			<img width="215" height="142" src="{% static "img/bathtub.jpg" %}">
		</a>
		<img src="{% static "img/bathtub_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/accessories/">
			<img width="215" height="142" src="{% static "img/accessories.jpg" %}">
		</a>
		<img src="{% static "img/accessories_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/induction/">
			<img width="215" height="142" src="{% static "img/induction.jpg" %}">
		</a>
		<img src="{% static "img/induction_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/hardware/">
			<img width="215" height="142" src="{% static "img/hardware.jpg" %}">
		</a>
		<img src="{% static "img/hardware_t.jpg" %}" alt="" />
	</li>
	<li>
		<a href="/product/joyou/kitchen/">
			<img width="215" height="142" src="{% static "img/kitchen.jpg" %}">
		</a>
		<img src="{% static "img/kitchen_t.jpg" %}" alt="" />
	</li>
</ul>
{% endblock %}
