{% extends "product/layout.html" %}
{% load static %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/product/">产品展示</a>
	<a href="/product/joyou/">JOYOU</a>
	<em>龙头系列</em>
{% endblock %}

{% block content %}
<ul class="serials products list-horizontal">
	<li>
		<a href="/product/joyou/faucet/shunv/">
			<img width="215" height="143" src="{% static "img/shunv.jpg" %}">
		</a>
		<h5>淑女系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/beiqi/">
			<img width="215" height="143" src="{% static "img/beiqi.jpg" %}">
		</a>
		<h5>贝齐系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/tianlai/">
			<img width="215" height="143" src="{% static "img/tianlai.jpg" %}">
		</a>
		<h5>天籁系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/simai/">
			<img width="215" height="143" src="{% static "img/simai.jpg" %}">
		</a>
		<h5>米尔顿系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/keliya/">
			<img width="215" height="143" src="{% static "img/keliya.jpg" %}">
		</a>
		<h5>科里亚系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/yalang/">
			<img width="215" height="143" src="{% static "img/yalang.jpg" %}">
		</a>
		<h5>雅朗系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/weisi/">
			<img width="215" height="143" src="{% static "img/weisi.jpg" %}">
		</a>
		<h5>维思系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/aosi/">
			<img width="215" height="143" src="{% static "img/aosi.jpg" %}">
		</a>
		<h5>澳斯系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/suoya/">
			<img width="215" height="143" src="{% static "img/suoya.jpg" %}">
		</a>
		<h5>索亚系列</h5>
	</li>
	<li>
		<a href="/product/joyou/faucet/ganying/">
			<img width="215" height="143" src="{% static "img/ganying.jpg" %}">
		</a>
		<h5>感应系列</h5>
	</li>
</ul>
{% endblock %}
