{% extends "product/bannerlist.html" %}
{% load static %}

{% block content %}
<ul class="products clearfix">
	{% for item in items %}
	<li {% if forloop.counter|divisibleby:"4" %}class="last"{% endif %}>
		<a href="{{ item.get_absolute_url }}">
			<div class="img-box">
				<img width="215" src="{% if item.image %}{{ MEDIA_URL }}{{ item.image }}{% else %}{{ NO_PIC }}{% endif %}">
			</div>
		</a>
		<h5>{{ item.name }}</h5>
		<p>{{ item.sku }}</p>
	</li>
	{% endfor %}
</ul>
<div class="pagination clearfix"><!--Page -->
	{% if items.paginator.min_page != items.paginator.max_page %}
		{% if items.paginator.min_page > 1 %}
	<a href="{{ curl }}p/1" class="pager pager-first">首页</a>
		{% endif %}
		{% if items.number > 1 %}
	<a href="{{ curl }}p/{{ items.number|add:"-1" }}" class="pager">上一页</a>
		{% endif %}
		{% for p in items.paginator.all_pages %}
			{% if p == items.number %}
	<a class="pager pager-active">{{ p }}</a>
			{% else %}
	<a href="{{ curl }}p/{{ p }}" class="pager">{{ p }}</a>
			{% endif %}
		{% endfor %}
		{% if items.number < items.paginator.num_pages %}
	<a href="{{ curl }}p/{{ items.number|add:"1" }}" class="pager">下一页</a>
		{% endif %}
		{% if items.paginator.max_page < items.paginator.num_pages %}
	<a href="{{ curl }}p/{{ items.paginator.num_pages }}" class="pager">末页</a>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
