{% extends "normal.html" %}

{% load static %}

{% block meta_keywords %}
{{ page.article.keywords }}
{% endblock %}

{% block meta_description %}
{{ page.article.description }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/js/libs/galleryview/css/jquery.galleryview-3.0-dev.css" />
<style type="text/css">
	.gallery {
		margin-top: 15px;
	}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/libs/galleryview/js/jquery.timers-1.2.js"></script>
<script type="text/javascript" src="/static/js/libs/galleryview/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/libs/galleryview/js/jquery.galleryview-3.0-dev.js"></script>
<script type="text/javascript">
	$(function() {
			$("#gallery").galleryView({
				frame_width: 180,
				frame_height: 90,
				show_captions: true,
				show_filmstrip_nav: false,
				enable_overlays: true,
				panel_width: 750,
				panel_height: 350
			});
	});
</script>
{% endblock %}

{% block column_1 %}
{% include "pages/includes/left_nav.html" %}
{% endblock %}

{% block column_2 %}
<div class="toolbox">
	<div class="breadcrumb">
		{% include "pages/includes/breadcrumb.html" %}
	</div>
</div>
<div class="content">
	<div class="gallery">
		<div id="gallery">
			{% for item in category.cases.all %}
			<li>
				<img src="{{ MEDIA_URL }}{{ item.image }}" data-frame="{{ MEDIA_URL }}{{ item.image }}" title="{{ item.name }}" data-description="{{ item.description }}" />
			</li>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
