<!DOCTYPE HTML>
{% load i18n static mptt_tags %}

<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<title>{% block meta_title %}{% endblock %} | JOYOU</title>
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link media="all" rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
	{% block extra_css %}{% endblock %}
	<script src="{% static "js/libs/jquery/1.7.2/jquery-min.js" %}"></script>
	{% block extra_js %}{% endblock %}
	{% block extra_head %}{% endblock %}
</head>
<body>
	<div class="bg_main_top"></div>
	<div class="container_overlay">
		<div class="container">
			<div class="header">
				<div class="header_bg"></div>
				<div class="top_links">
					<span class="current_site">
						<b>English</b>
					</span>
					<span class="links_pipe">|</span>
					<a href="#">German</a>
					<span class="links_pipe">|</span>
					<a href="#">Chinese</a>
					<span class="links_pipe">|</span>
					<a href="#">Sitemap</a>
				</div>
				<div class="logobox"></div>
				<div class="header_search_box"></div>
				<div class="main_nav">
					<div class="main_nav_bg"></div>
					<ul class="main_menu clearfix">
						{% recursetree pages %}
							<li class="main_menu_item {% if node in ancestors or node == page %}current{% endif %}">
								<a class="main_menu_item_link" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
								{% if not node.is_leaf_node %}
								<ul>
									{{ children }}
								</ul>
								{% endif %}
							</li>
						{% endrecursetree %}
					</ul>
				</div>
			</div>
			<div class="content"></div>
			<div class="footer"></div>
		</div>
	</div>
	<div class="bg_main_bottom"></div>
</body>
</html>
