body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

fieldset,img {
	border:0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style:none
}

input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

input,textarea,select {
	*font-size:100%
}

a {
	color: #333;
	text-decoration: none;
}

.no-outline {
	outline: none;
	star:expression(this.onFocus=this.blur()); 
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.clearfix {
	display:inline-block
}

* html .clearfix {
	height:1%
}

.clearfix {
	display:block
}

.clear {
	clear:both;
}

.arrow {
	display: block;
	height: 12px;
	width: 12px;
	background-image: url(img/components.png);
	background-repeat: no-repeat;
	background-color: transparent;
	text-indent: -9999em;
	overflow: hidden;
}

.arrow-right {
	background-position: -4px -24px;
}

.arrow-left {
	background-position: -4px -36px;
}

.arrow-up {
	background-position: -4px -48px;
}

.arrow-down {
	background-position: -4px -60px;
}

.sl-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(top, #fcfcfc, #f1f1f1);
}

.box {
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
}

.box-follow {
	border-top: none;
}

.box-closed {
	border-bottom: none;
}

.box-title {
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	cursor: pointer;
}

.box-title-inner {
	position: relative;
	height: 14px;
	line-height: 16px;
	padding: 9px 16px 10px;
	border: 1px solid #fff;
	overflow: hidden;
}

.box-title-hovered .box-title-inner {
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dadada));
	background: -moz-linear-gradient(top, #f6f6f6, #dadada);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dadada');
	background:-o-linear-gradient(top, #f6f6f6, #dadada);
	background: linear-gradient(top, #f6f6f6, #dadada);
	padding: 9px 16px 10px;
	border: 1px solid #fff;
	cursor:pointer;
}

.box-toggle {
	background-image: url(img/box_arrow.png);
	background-repeat: none;
	background-position: 0 0;
	width: 30px;
	height: 35px;
	line-height: 35px;
	text-indent: -9999px;
	display: inline;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

.box-toggle:hover {
	background-position: 0 -70px;
}

.box-closed .box-toggle {
	background-position: 0 -35px;
}

.box-closed .box-toggle:hover {
	background-position: 0 -105px;
}

.box-title h3 {
	color: #656565;
	display: inline;
	float: left;
	font-size: 14px;
	font-weight: 700;
}

.box-container {
	overflow: hidden;
}

.box-opened .box-container {
	display: none;
}

.box-container ul {
	overflow: hidden;
}

.box-item {
	width: 188px;
	height: 37px;
	overflow: hidden;
}

.box-item a {
	height: 100%;
	line-height: 36px;
	outline: 0 none;
	color: #666a72;
	display: block;
	padding-left: 44px;
}

.box-item a:hover {
	background-color: #f5f5f5;
}

.box-item span.box-item-icon {
	width: 24px;
	height: 24px;
	margin: 6px 10px;
	overflow: hidden;
	text-align: -9999px;
}

.box-item a span {
	color: #666a72;
	cursor: pointer;
	display: block;
	float: left;
	vertical-align: top;
	font-size: 14px;
}

.box-item span.box-item-arrow {
	display: none;
}

.box-item .arrow-right {
	float: right;
	margin-top: 13px;
	margin-right: 11px;
}

.box-horizontal li {
	float: left;
}

.gallery-cell {
	background: url(img/gallery_cell_bg.png) no-repeat 0 0;
	width: 230px;
	height: 174px;
	padding-top: 20px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.gallery-cell:hover {
	background-position: 0 -194px;
}

.gallery-cell-img {
	height: 120px;
	width: 160px;
	margin: 0 auto;
}

.gallery-cell-img img {
	height: 120px;
	width: 160px;
}

.gallery-cell-desc {
	color: #333;
	font-size: 13px;
	margin-top: 15px;
	text-align: center;
}
