.ui-resizable-handle {
	display: block;
	font-size: 0.1px;
	position: absolute;
	z-index: 100;
}

.ui-resizable-e {
	cursor: e-resize;
	height: 100%;
	width: 5px;
	right: -3px;
	top: 0;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 5px;
	width: 100%;
	bottom: -3px;
	left: 0;
}

.ui-resizable-se {
	cursor: se-resize;
	height: 10px;
	width: 10px;
	bottom: -3px;
	right: -3px;
}

.dialog-box {
	position: absolute;
	width: 500px;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.dialog-title {
	position: relative;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #d2d2d2;
	border-radius: 5px 5px 0 0 ;
	background: #ebebeb url(img/common_bg_x.png) repeat-x 0 -80px;
}

.dialog-title strong {
	position: relative;
	float: left;
	padding-right: 15px;
	cursor: pointer;
}

.dialog-title strong i {
	position: absolute;
	top: 18px;
	right: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 5px solid;
	border-color: #666 transparent transparent;
}

.dialog-handle {
	position: absolute;
	top: 14px;
	right: 10px;
}

.dialog-handle a {
	float: left;
	margin-left: 10px;
	width: 14px;
	height: 12px;
	line-height: 10;
	overflow: hidden;
	background-image: url(img/icon_dialog_handle.gif);
	background-repeat: no-repeat;
}

.dialog-close { background-position:0 0; }
.dialog-close:hover { background-position:0 -12px; }
.dialog-maximize { background-position:-14px 0; }
.dialog-maximize:hover { background-position:-14px -12px; }
.dialog-restore { background-position:-28px 0; }
.dialog-restore:hover { background-position:-28px -12px; }
.dialog-minimize { background-position:-42px 0; }
.dialog-minimize:hover { background-position:-42px -12px; }

.window-frame {
	position: absolute;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.dialog-bottom {
	position: relative;
	height: 34px;
	padding: 0 30px 30px;
	overflow: hidden;
}

.dialog-bottom .con,
.dialog-status {
	position: relative;
	float: left;
	line-height: 34px;
	font-size: 14px;
	color: #666;
}

.dialog-bottom .btn {
	float: left;
	margin-right: 10px;
	padding: 0 20px;
}

.dialog-bottom .btn .icon-btn {
	left: 15px;
}

.dialog-bottom input,
.dialog-bottom label {
	float: left;
	margin-right: 10px;
}

.dialog-bottom input {
	position: relative;
	top: 11px;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.dialog-status {
	float: right;
}

.dialog-status .btn {
	margin: 0 0 0 10px;
}

