{% extends "column_1.html" %}

{% load static %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}
{{ page.article.keywords }}
{% endblock %}

{% block meta_description %}
{{ page.article.description }}
{% endblock %}

{% block extra_css %}
<link media="all" rel="stylesheet" href="{% static "css/news.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/article.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
{% endblock %}

{% block banner %}
	{% if page.banner %}
	<div class="banner">
		<img src="{% static "img/banner_1.jpg" %}" alt="" />
	</div>
	{% endif %}
{% endblock %}

{% block column_2 %}
<div class="toolbox">
	<div class="breadcrumb">
		{% include "pages/includes/breadcrumb.html" %}
	</div>
</div>
<div class="content">
	{% autoescape off %}
		{{ page.content }}
	{% endautoescape %}
</div>
{% endblock %}
