{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link media="all" rel="stylesheet" href="{% static "css/index.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/libs/slidesjs/slides.min.jquery.js" %}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('#slides').slides({
		preload: true,
		preloadImage: "/static/img/loading.gif",
		play: 5000,
		pause: 2500,
		hoverPause: true,
		effect: 'fade'
	});
});
</script>
{% endblock %}

{% block content %}
<div class="slides">
	<div id="slides" class="drop-shadow round">
		<div class="slides_container">
			<div class="slide">
				<a href="#" title="" target="_blank">
					<img src="http://quanzhou2.bjsxg01.host.35.com/joyou/image/banner1.jpg" alt="Slide 1">
				</a>
			</div>
			<div class="slide">
				<a href="#" title="" target="_blank">
					<img src="http://quanzhou2.bjsxg01.host.35.com/joyou/image/banner2.jpg" alt="Slide 1">
				</a>
			</div>
			<div class="slide">
				<a href="#" title="" target="_blank">
					<img src="http://quanzhou2.bjsxg01.host.35.com/joyou/image/banner3.jpg" alt="Slide 1">
				</a>
			</div>
			<div class="slide">
				<a href="#" title="" target="_blank">
					<img src="http://quanzhou2.bjsxg01.host.35.com/joyou/image/banner3.jpg" alt="Slide 1">
				</a>
			</div>
			<div class="slide">
				<a href="#" title="" target="_blank">
					<img src="http://quanzhou2.bjsxg01.host.35.com/joyou/image/banner3.jpg" alt="Slide 1">
				</a>
			</div>
		</div>
	</div>
</div>

<div class="announ clearfix">
	<div class="an-left">
	</div>
	<div class="an-con">
		<h5>最新公告</h5>
		<ul>
			<li>
				<a href="#">全面发力 亮剑彭州</a>
			</li>
			<li>
				<a href="#">精彩中宇 晶动内蒙古</a>
			</li>
			<li>
				<a href="#">当红影星张馨予来啦</a>
			</li>
		</ul>
		<span class="more">
			<a target="_blank" href="#">更多&gt;&gt;</a>
		</span>
	</div>
	<div class="an-right"></div>
</div>

<div class="promos">
	<ul class="clearfix">
		<li class="first-child">
			<div class="curve-down">
				<a href="#">
					<img height="155" width="230" src="{% static "img/p2.gif" %}" alt="" />
				</a>
			</div>
		</li>
		<li>
			<div class="curve-down">
				<a href="#">
					<img height="155" width="230" src="{% static "img/p3.gif" %}" alt="" />
				</a>
			</div>
		</li>
		<li>
			<div class="curve-down">
				<a href="#">
					<img height="155" width="230" src="{% static "img/p1.gif" %}" alt="" />
				</a>
			</div>
		</li>
		<li class="last-child">
			<div class="curve-down">
				<a href="#">
					<img height="155" width="230" src="{% static "img/p4.gif" %}" alt="" />
					<span class="play"></span>
				</a>
			</div>
		</li>
	</ul>
</div>
{% endblock %}
