{% extends "base.html" %}

{% load static %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block extra_css %}
<link media="all" rel="stylesheet" href="{% static "css/index.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
{% endblock %}

{% block extra_js %}
<script src="{% static "js/libs/slidesjs/slides.min.jquery.js" %}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('#slides').slides({
		preload: true,
		preloadImage: "/static/img/loading.gif",
		play: 5000,
		pause: 2500,
		hoverPause: true,
		effect: 'fade'
	});
});
</script>
{% endblock %}

{% block page %}
<div class="slides">
	<div id="slides" class="">
		<div class="slides_container">
			<div class="slide">
				<a href="{% url product_home %}" title="" target="_blank">
					<img src="{% static "img/slide_1.jpg" %}" alt="Slide 1">
				</a>
			</div>
			<div class="slide">
				<a href="{% url product_home %}" title="" target="_blank">
					<img src="{% static "img/slide_2.jpg" %}" alt="Slide 2">
				</a>
			</div>
			<div class="slide">
				<a href="{% url product_home %}" title="" target="_blank">
					<img src="{% static "img/slide_4.jpg" %}" alt="Slide 4">
				</a>
			</div>
			<div class="slide">
				<a href="{% url product_home %}" title="" target="_blank">
					<img src="{% static "img/slide_5.jpg" %}" alt="Slide 5">
				</a>
			</div>
		</div>
	</div>
</div>

<div class="announ clearfix">
	<div class="an-left">
	</div>
	<div class="an-con">
		<h5>最新公告</h5>
		<ul>
			{% for news in latest %}
			<li>
				<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<span class="more">
			<a target="_blank" href="{% url press_home %} ">更多&gt;&gt;</a>
		</span>
	</div>
	<div class="an-right"></div>
</div>

<div class="promos">
	<ul class="clearfix">
		<li class="first-child">
			<div class="curve-down">
				<a href="{% url product_home %}">
					<img height="123" width="230" src="{% static "img/p1.jpg" %}" alt="" />
				</a>
			</div>
		</li>
		<li>
			<div class="curve-down">
				<a href="http://joyou.litijia.com/website/control/nav_room?tenantId=joyou" target="_blank">
					<img height="123" width="230" src="{% static "img/p2.jpg" %}" alt="" />
				</a>
			</div>
		</li>
		<li>
			<div class="curve-down">
				<a href="{% url brand_home %}">
					<img height="123" width="230" src="{% static "img/p3.jpg" %}" alt="" />
				</a>
			</div>
		</li>
		<li class="last-child">
			<div class="curve-down">
				<a href="#">
					<img height="123" width="230" src="{% static "img/p4.jpg" %}" alt="" />
					<span class="play"></span>
				</a>
			</div>
		</li>
	</ul>
</div>
{% endblock %}
