{% extends "normal.html" %}

{% load static %}

{% block left_nav %}
<div class="left-nav">
	<div class="box box-top">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>公司新闻</h3>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>行业新闻</h3>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>品牌动态</h3>
			</div>
		</div>
		<div class="box-container box-opened">
			<ul class="clearfix">
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">唱响中国</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">中宇品质秀</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">德国上市</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">亮相世博</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">携手高仪</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item clearfix">
					<a href="#">
						<span class="box-item-icon"></span>
						<span class="box-item-name">签约郭晶晶</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>中宇有我</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
