.filedialog {
	height: 480px;
	width: 640px;
}

.fd-top {
	background: url(img/fd_edge_bg.png) no-repeat;
	font-size: 0;
	line-height: 0;
	height: 4px;
}

.fd-bottom {
	background: url(img/fd_edge_bg.png) no-repeat 0 -6px;
	font-size: 0;
	line-height: 0;
	height: 3px;
}

.fd-body {
	background: url(img/fd_body_bg.png) repeat-y;
	padding: 0 3px;
	height: 472px;
}

.fd-browser {
	float: left;
	width: 472px;
}

.fd-info {
	float: right;
	padding-bottom: 30px;
	width: 160px;
}

.fd-header {
	background: #f1f4f7;
	border-bottom: 1px solid #dcdddd;
	padding: 0;
}

.fd-path {
	overflow: hidden;
	height: 25px;
	margin: 0;
	padding: 8px 0 9px 20px;
}

.fd-path .home {
	color: #333;
	font-size: 20px;
	margin: 0;
	text-decoration: none;
}

.fd-path span {
	color: #c4c4c4;
	margin: 0 5px 0 6px;
}

.fd-path .normal {
	color: #3185c7;
	text-decoration: none;
}

.fd-path .normal:hover {
	color: #07436b;
	text-decoration: underline;
}

.fd-tools {
	padding: 10px;
}

#upload-btn {
	width: 54px;
	height: 28px;
}

