.filedialog {
	height: 480px;
	width: 640px;
}

.fd-top {
	background: url(img/fd_edge_bg.png) no-repeat;
	font-size: 0;
	line-height: 0;
	height: 4px;
}

.fd-bottom {
	background: url(img/fd_edge_bg.png) no-repeat 0 -6px;
	font-size: 0;
	line-height: 0;
	height: 3px;
}

.fd-body {
	background: url(img/fd_body_bg.png) repeat-y;
	padding: 0 3px;
	height: 472px;
}

.fd-browser {
	float: left;
	width: 472px;
}

.fd-info {
	float: right;
	padding-bottom: 30px;
	width: 160px;
}

.fd-header {
	background: #f1f4f7;
	border-bottom: 1px solid #dcdddd;
	padding: 0;
}

.fd-path {
	overflow: hidden;
	height: 25px;
	margin: 0;
	padding: 8px 0 9px 20px;
}

.fd-path .home {
	color: #333;
	font-size: 20px;
	margin: 0;
	text-decoration: none;
}

.fd-path span {
	color: #c4c4c4;
	margin: 0 5px 0 6px;
}

.fd-path .normal {
	color: #3185c7;
	text-decoration: none;
}

.fd-path .normal:hover {
	color: #07436b;
	text-decoration: underline;
}

.fd-tools {
	padding: 10px;
}

#upload-btn {
	width: 54px;
	height: 28px;
}

.fd-upload-progress {
	padding: 7px 9px 8px;
	position: relative;
}

.fd-upload-progress dl {
	margin: 0;
	padding: 0;
}

.fd-upload-progress-inner {
	background: url(img/upload_progress_bg.png) no-repeat;
	width: 142px;
	height: 148px;
	padding: 1px 1px;
	position: relative;
	overflow: hidden;
}

.fd-upload-file {
	color: #07436b;
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	overflow: hidden;
	padding: 4px 0 5px 5px;
	display: block;
	text-decoration: none;
}

dt.fd-hover .fd-upload-file {
	background: #e9f0f5;
}

.fd-upload-file-status {
	background: url(img/file_progress_icon.png);
}

.fd-ok .fd-upload-file-status {
	background-position: 0 -360px;
	float: right;
	font-size: 0;
	height: 12px;
	margin: 2px 5px 0 0;
	width: 14px;
	display: block;
}

.fd-cancelable .fd-upload-file-status {
	background-position: 0 -306px;
	float: right;
	font-size: 0;
	height: 13px;
	margin: 2px 5px 0 0;
	width: 13px;
	display: block;
}

.fd-cancelable .fd-upload-file-status:hover {
	background-position: 0 -324px;
}

.fd-progress {
	float: right;
	display: block;
	margin-right: 3px;
	width: 32px;
	cursor: default;
}

.fd-upload-name {
	display: block;
	float: left;
	width: 80px;
	color: #07436b;
	font-size: 12px;
	font-weight: normal;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	cursor: default;
}

