<div class="filedialog">
	<div class="fd-top"></div>
	<div class="fd-body">
		<div class="fd-browser">
			<div class="fd-header">
				<div class="fd-path">
					<a href="#" class="home">Home</a>
					<span>&gt;</span>
					<a href="#" class="normal">images</a>
				</div>
			</div>
			<div class="fd-browser-view"></div>
		</div>
		<div class="fd-info">
			<div class="fd-tools">
				<div id="upload-btn">
				</div>
			</div>
			<div class="fd-summary"></div>
			<div class="fd-preview" id="fd-preview"></div>
			<div class="fd-upload-progress"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="fd-bottom"></div>
</div>
