<div class="filedialog">
	<div class="fd-top"></div>
	<div class="fd-body">
		<div class="fd-browser">
			<div class="fd-header">
				<div class="fd-path">
					<a href="#" class="home">Home</a>
					<span>&gt;</span>
					<a href="#" class="normal">images</a>
				</div>
			</div>
			<div class="fd-browser-view">
				<ul class="fd-icon-list">
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-folder"></a>
								</div>
								<div class="fd-list-item-name"></div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-folder"></a>
								</div>
								<div class="fd-list-item-name"></div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-folder"></a>
								</div>
								<div class="fd-list-item-name"></div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-folder"></a>
								</div>
								<div class="fd-list-item-name"></div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-folder"></a>
								</div>
								<div class="fd-list-item-name"></div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<li class="fd-list-item">
						<div class="fd-list-item-wrap">
							<div class="fd-list-item-intro">
								<div class="fd-list-item-thumb">
									<a href="#" class="fd-icon fd-icon-rar"></a>
								</div>
								<div class="fd-list-item-name">
									<a href="#" class="fd-list-txt">books</a>
								</div>
								<div class="fd-list-item-info"></div>
								<div class="fd-list-item-tools"></div>
							</div>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="fd-info">
			<div class="fd-tools">
				<div id="upload-btn">
				</div>
			</div>
			<div class="fd-summary"></div>
			<div class="fd-preview" id="fd-preview"></div>
			<div class="fd-upload-progress">
				<div class="fd-upload-progress-inner">
					<dl id="fd-upload-progress">
					</dl>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="fd-bottom"></div>
</div>
