<% if (template=="shadow") { %>

<div class="shadow-cor cor-tl"></div>
<div class="shadow-cor cor-tr"></div>
<div class="shadow-cor cor-br"></div>
<div class="shadow-cor cor-bl"></div>
<div class="shadow-cor cor-t"></div>
<div class="shadow-cor cor-r"></div>
<div class="shadow-cor cor-b"></div>
<div class="shadow-cor cor-l"></div>

<% } else if (template="win_title") { %>

<h2 class="dialog-title" rel="base_title">
	<span><%= title %></span>
	<div class="dialog-handle">
		<a href="javascript:;" class="dialog-minimize" btn="hide">最小化</a>
		<a href="javascript:;" class="dialog-maximize" btn="max">最大化</a>
		<a href="javascript:;" class="dialog-recover" btn="revert">还原</a>
		<a href="javascript:;" class="dialog-close" btn="close">关闭</a>
	</div>
</h2>

<% } else if (template="window") { %>

<div class="dialog-box" style="display:none" id="<%= id%>_wrap">
	<%= shadow %>
	<div id="<%= id%>_inner" style="height: 100%"></div>
</div>

<% } else if (template="resize") { %>
	<% for (var type in resizes) { %>
<div resize="<%= type%>" style="position: absolute;overflow: hidden; background: url(static/js/transparent.gif) repeat scroll 0% 0% transparent; <%= resizes[type] %>"></div>
	<% } %>
<% } else if (template="dialog") { %>

<div class="dialog-box" style="display:none; z-index: 100000002">
	<%= shadow%>
	<h2 class="dialog-title" rel="title_box">
		<span rel="base_title"></span>
		<div class="dialog-handle">
			<a href="javascript:;" class="dialog-close" btn="close">关闭</a>
		</div>
	</h2>
	<div rel="base_content"></div>
</div>


<% } else if (template="resize") { %>



<% } %>
