<div class="main-content">
	<div class="main-content-header">
		<div id="main-content-breadcrumb">
			<div class="home">
				<%= type %> <%= model.model_name %>
			</div>
		</div>
	</div>
	<form id="main-form">
		<div class="main-content-body">
			<div style="height:500px;">
				<fieldset>
					<ul>
					<% _.each(model.fields, function(field) { %>
						<li>
							<label><%= field.name %></label>
							<%= field.html %>
						</li>
					<% }) %>
					</ul>
				</fieldset>
			</div>
		</div>
		<div class="main-content-footer">
			<div id="main-content-tools">
				<a href="javascript:void(0)" id="main-form-submit" class="btn upload">Save</a>
				<a href="javascript:void(0)" class="btn new-folder">Cancel</a>
			</div>
		</div>
	</form>
</div>
