{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/common.css" %}">
	<link rel="stylesheet" href="{% static "css/dialog.css" %}">
	<link rel="stylesheet" href="{% static "css/manage.css" %}">
	<script src="{% static "js/libs/jquery/1.7.2/jquery-min.js" %}"></script>
	<script src="{% static "js/libs/underscore/1.3.3/underscore-min.js" %}"></script>
	<script src="{% static "js/libs/backbone/0.9.2/backbone-min.js" %}"></script>
	<script src="{% static "js/libs/seajs/1.1.9/sea-debug.js" %}"></script>
	<script src="{% static "js/manage/init.js" %}"></script>
	</script>
</head>
<body>
	<div class="frame-side">
		<div class="user-nav">
			<i class="arrow"></i>
			<div class="user-head">
				<img src="{% static "img/face_default.png" %}" alt="" />
			</div>
			<div class="user-name">test</div>
			<dl class="nav-menu">
				<dt> <span>test</span> </dt>
				<dd>
					<ul>
						<li>
							<a href="javascript:;">
								<i class="icon-user"></i>
								个人资料
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-user"></i>
								个人资料
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-user"></i>
								个人资料
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-user"></i>
								个人资料
							</a>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
		<div class="directory-menu">
			<div class="dir-menu-side">
				<ul>
					<li id="filemanage" class="focus">
						<a href="#filemanage">
							<i class="icon-dm dm-cloud"></i>
							<span>文件管理</span>
						</a>
					</li>
					<li id="article">
						<a href="#article">
							<i class="icon-dm dm-notebook"></i>
							<span>文档编辑</span>
						</a>
					</li>
					<li id="apps">
						<a href="#apps">
							<i class="icon-dm dm-app"></i>
							<span>模块管理</span>
						</a>
					</li>
					<li id="system">
						<a href="#system">
							<i class="icon-dm dm-circle"></i>
							<span>系统管理</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
