{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html lang="{% block lang %}{% endblock %}">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/manage.css" %}">
	<script data-main="{% static "js/manage/main" %}" src="{% static "js/libs/require/require.js" %}"></script>
</head>
<body>
	<div id="wrapper">
		<div id="main-body">
			<div class="main-header"></div>
			<div class="main">
				<div class="main-top"></div>
				<div class="main-center">
					<div class="main-left">
						<div class="main-content">
							<div class="main-content-header">
								<div id="main-content-breadcrumb">
									<a class="home" href="javascript:void(0)">Home</a>
									<span>&gt;</span>
									<a class="path" href="javascript:void(0)">Book</a>
									<span>&gt;</span>
									<a class="path" href="javascript:void(0)">Python</a>
								</div>
								<div class="main-content-toolbar">
									<div id="main-content-tools">
										<a href="javascript:void(0)" class="return"></a>
										<a href="javascript:void(0)" class="btn upload">upload</a>
										<a href="javascript:void(0)" class="btn new-folder">New Folder</a>
										<a href="javascript:void(0)" class="btn more">More
											<span class="arrow-down-icon icon">
											</span>
										</a>
									</div>
									<div id="main-content-search">
										<div class="mode-wrap">
											<a class="icon btn-down" href="javascript:void(0)"></a>
											<a class="icon pic-mode" href="javascript:void(0)">test</a>
											<a class="icon list-mode list-mode-current" href="javascript:void(0)">test</a>
											<a class="icon search-btn" href="javascript:void(0)">test</a>
											<div class="btn search-box">
												<input id="search-input" type="text" />
											</div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="main-content-body">
								<div class="file-list">
									<table class="fileheader">
										<tr>
											<th class="checkbox first">
												<input type="checkbox" />
											</th>
											<th class="filename">
												<span>File Name</span>
											</th>
											<th class="filesize">
												<span>File Size</span>
											</th>
											<th class="modified">
												<span>Modified</span>
											</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="main-right">
					</div>
					<div class="clear"></div>
				</div>
				<div class="main-bottom"></div>
			</div>
			<div class="main-footer"></div>
		</div>
	</div>
	<div id="global-header">
		<div class="header">
			<div class="logo"></div>
			<div class="right">
				<ul class="menu">
					<li class="menu-item">
						<a href="javascript:void(0)" class="link no-outline">
							System
							<span class="arrow-down">
								<em class="b1"></em>
								<em class="b2"></em>
								<em class="b3"></em>
							</span>
						</a>
						<div class="drop-menu">
							<div>
								<ul>
									<!--tip start-->
									<li><a href="javascript:void(0)">File Manager</a></li>
									<li><a href="javascript:void(0)">Settings</a></li>
									<!--tip end-->
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item">
						<a href="javascript:void(0)" class="link no-outline">
							notice
							<span class="arrow-down">
								<em class="b1"></em>
								<em class="b2"></em>
								<em class="b3"></em>
							</span>
						</a>
						<div class="drop-menu">
							<div>
								<ul>
									<!--tip start-->
									<li><a href="http://weibo.com/comment/inbox?topnav=1&amp;wvr=4&amp;f=1" bpfilter="main" action-data="hide=true" action-type="bp-link" target="_top">查看评论</a></li>
									<li><a href="http://weibo.com/2141226973/fans?topnav=1&amp;wvr=4" target="_top">查看粉丝</a></li>
									<li><a href="http://weibo.com/messages?topnav=1&amp;wvr=4" action-data="hide=true" action-type="bp-link" target="_top">查看私信</a></li>
									<li><a href="http://weibo.com/at/weibo?topnav=1&amp;wvr=4" bpfilter="main" action-data="hide=true" action-type="bp-link" target="_top">查看@我</a></li>
									<li><a href="http://q.weibo.com/message/proxJump.php?topnav=1&amp;wvr=4" target="_top">查看群内消息</a></li>
									<li><a href="http://photo.weibo.com/messages/index?topnav=1&amp;wvr=4" target="_top">查看相册消息</a></li>
									<li><a href="http://weibo.com/notifications?topnav=1&amp;wvr=4" target="_top">查看通知</a></li>
									<li><a href="http://weibo.com/invite/recv.php?topnav=1&amp;wvr=4" target="_top">查看邀请</a> </li>
									<!--tip end-->
								</ul>
							</div>
						</div>
					</li>
					<li class="menu-item-leaf">
						<a href="javascript:void(0)" class="link no-outline">logout</a>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>
