{% load i18n %}
{% load static %}
<!DOCTYPE HTML>
<html lang="{% block lang %}{% endblock %}">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/manage.css" %}">
	<script data-main="{% static "js/manage/main" %}" src="{% static "js/libs/require/require.js" %}"></script>
</head>
<body>
	<div id="wrapper">
		<div id="main" style="padding-top: 35px;height: 1000px;background: red;">
		</div>
	</div>
	<div id="global-header">
		<div class="header">
			<div class="logo"></div>
			<div class="menu"></div>
			<div class="right"></div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
</script>
