{% extends "news/layout.html" %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/news/">新闻中心</a>
	<a href="/news/company/">公司新闻</a>
	<em>新闻正文</em>
{% endblock %}

{% block content %}
<div class="article-container">
	<div class="article-title">
		<h1>精彩中宇 晶动内蒙古</h1>
		<h2>——记8月11日中宇卫浴郭晶晶呼和浩特市签售会</h2>
	</div>
	<div class="article-info">
		<span>来源：<i>中宇企划部</i></span>
		<span>作者：<i>何立桂</i></span>
		<span>日期：<i>2012-08-22 15:30 </i></span>
		<a href="#" title="分享至新浪微博">
			<span class="sns-icon sns-tsina"></span>
		</a>
		<a href="#" title="分享至腾讯微博">
			<span class="sns-icon sns-tqq"></span>
		</a>
		<a href="#" title="分享至网易微博">
			<span class="sns-icon sns-t163"></span>
		</a>
		<a href="#" title="分享至搜狐微博">
			<span class="sns-icon sns-tsohu"></span>
		</a>
		<a href="#" title="分享到QQ空间">
			<span class="sns-icon sns-qzone"></span>
		</a>
	</div>
	<div class="separator"></div>
	<div class="article">
	</div>
</div>
{% endblock %}
