{% extends "news/layout.html" %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/news/">新闻中心</a>
	<a href="/news/company/">公司新闻</a>
	<em>新闻正文</em>
{% endblock %}

{% block content %}
<div class="article-container">
	<div class="article-title">
		<h1>精彩中宇 晶动内蒙古</h1>
		<h2>——记8月11日中宇卫浴郭晶晶呼和浩特市签售会</h2>
	</div>
	<div class="article-info">
		<span>来源：<i>中宇企划部</i></span>
		<span>作者：<i>何立桂</i></span>
		<span>日期：<i>2012-08-22 15:30 </i></span>
		<span>分享到：</span>
		<a href="#" class="sns-icon sns-tsina" title="分享至新浪微博"></a>
		<a href="#" class="sns-icon sns-tqq" title="分享至腾讯微博"></a>
		<a href="#" class="sns-icon sns-t163" title="分享至网易微博"></a>
		<a href="#" class="sns-icon sns-tsohu" title="分享至搜狐微博"></a>
		<a href="#" class="sns-icon sns-qzone" title="分享到QQ空间"></a>
	</div>
	<div class="separator"></div>
	<div class="article">
		<p><br/>
		内蒙古是一望无际的草原，贴着地平线浮起的藕白羊群；<br/>
		内蒙古是一骑绝尘的那达慕，激情演绎饮马黄河，雄建帝国的征程；<br/>
		内蒙古是中宇人的草原沙场，纵横千里，披荆斩棘秣马厉兵，撰写巅峰的传奇！
		</p>
		<p align="center"><img src="http://joyou.com.cn/Upload/2012825113025815951.jpg" alt="" border="0" /></p>
		<p>2012年8月11日下午，中宇卫浴——“晶动青城”奥运冠军郭晶晶签售会盛大开启，内蒙古人大常委、呼和浩特市慈善总会会长、原呼和浩特市市长汤爱军先生，呼和浩特市宣传部部长王雪峰先生，中宇建材集团有限公司总裁蔡吉林先生，红星美凯龙内蒙古总经理金瓯先生等嘉宾、领导出席本次盛会，各界新闻媒体争相报道。</p>
		<p>中宇卫浴自2008年进入内蒙古市场以来，在市政府、行业同仁和广大消费者的关爱与支持下，现已发展成内蒙古最具竞争力的卫浴品牌之一。中宇卫浴秉着“打造国内一流，全球知名的国际性卫浴品牌”的品牌目标，以“力求寻找高于对手的差异化”的竞争理念，从细微之处入手，切实为广大消费者着想，将最优秀的品质与最彻底的实惠落到实处，构建优雅舒适的购物环境，赢得消费者，赢得企业的快速发展。</p>
		<p align="center"><img src="http://joyou.com.cn/Upload/2012821106275554904.jpg" alt="" border="0" /></p>
		<p>为了回馈长期以来广大消费者的支持，中宇卫浴特邀请品牌代言人郭晶晶小姐亲临活动现场，开展大型明星签售活动。本次活动是跳水冠军郭晶晶首次到内蒙古参加的商业活动，吸引大量的消费者前来参与。签售现场，优秀的产品品质、大幅度的价格优惠和明星的零距离接触，彻底点燃消费者的热情，引发了呼市卫浴市场销售井喷。</p>
		<p>中宇卫浴是中国卫浴行业的领军品牌，在企业发展的同时，不忘社会责任，不忘奉献爱心，勇做社会慈善事业的倡导者和实践者。活动期间，中宇卫浴携手德国高仪等共同举办主题为“送温暖 献爱心”的慈善捐赠活动，把8月11日销售总金额的1%用于贫困地区助学计划，这一善举体现出中宇卫浴作为行业领军品牌的社会责任感和历史使命感，再次把现场活动气氛推向了又一个高潮。</p>
		<p align="center"><img src="http://joyou.com.cn/Upload/2012821106377365039.jpg" alt="" border="0" /></p>
		<p>中宇卫浴内蒙古运营中心总经理王聪明先生接受采访时表示，此次郭晶晶的呼市之行对中宇卫浴在内蒙古市场的品牌知名度和影响力会有巨大的提升作用，我们一定用心做好产品和服务，把属于中宇卫浴的实惠和惊喜送给内蒙古的千家万户，让大家都能享受到中宇卫浴最好的产品和服务。</p>
		<p>此次签售活动的巨大成功在呼和浩特市建材市场掀起了一股中宇热潮，为疲软的市场注入了一剂强心针，显示出了中宇卫浴强大的品牌实力和号召力。</p>
		<p>文/营销中心  企划部 洪双彬</p>
	</div>
</div>
{% endblock %}
