{% extends "news/layout.html" %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/news/">新闻中心</a>
	<em>中宇有我</em>
{% endblock %}

{% block content %}
<div class="news-list">
	<ul>
		<li class="clearfix">
			<a href="#" class="news-thumb">
				<img src="http://www.joyou.com.cn/Upload/20112219154237428.jpg" alt="" />
			</a>
			<div class="news-info">
				<a href="#" class="news-title">全面发力 亮剑彭州</a>
				<div class="news-desc">
					<dl class="clearfix">
						<dd>来源：<i>中宇企划部</i></dd>
						<dd>作者：<i>何立桂</i></dd>
						<dd>日期：<i>2012-08-22 15:30</i></dd>
					</dl>
				</div>
				<div class="news-tag clearfix">
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						中宇卫浴
					</a>
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						澎州
					</a>
				</div>
				<div class="news-intro">
					8月18日，花团锦簇喜气洋洋，装修200平方米的中宇卫浴彭州旗舰店盛装开业了。
				</div>
			</div>
		</li>
		<li class="clearfix">
			<a href="#" class="news-thumb">
				<img src="http://www.joyou.com.cn/Upload/201282110112817927.jpg" alt="" />
			</a>
			<div class="news-info">
				<a href="#" class="news-title">精彩中宇 晶动内蒙古</a>
				<div class="news-desc">
					<dl class="clearfix">
						<dd>来源：<i>中宇企划部</i></dd>
						<dd>作者：<i>洪双彬</i></dd>
						<dd>日期：<i>2012-08-22 15:30</i></dd>
					</dl>
				</div>
				<div class="news-tag clearfix">
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						中宇卫浴
					</a>
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						郭晶晶
					</a>
				</div>
				<div class="news-intro">
					2012年8月11日下午，中宇卫浴——“晶动青城”奥运冠军郭晶晶签售会盛大开启
				</div>
			</div>
		</li>
		<li class="clearfix">
			<a href="#" class="news-thumb">
				<img src="http://www.joyou.com.cn/Upload/201282010381442219.jpg" alt="" />
			</a>
			<div class="news-info">
				<a href="#" class="news-title">当红影星张馨予来啦</a>
				<div class="news-desc">
					<dl class="clearfix">
						<dd>来源：<i>中宇企划部</i></dd>
						<dd>作者：<i>何立桂</i></dd>
						<dd>日期：<i>2012-08-22 15:30</i></dd>
					</dl>
				</div>
				<div class="news-tag clearfix">
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						中宇卫浴
					</a>
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						澎州
					</a>
				</div>
				<div class="news-intro">
					2012年8月12日，中宇卫浴汕头国瑞旗舰店盛大开业，明星助阵、亲情签售，活动环节丝丝入扣，现场人头攒动。
				</div>
			</div>
		</li>
		<li class="clearfix">
			<a href="#" class="news-thumb">
				<img src="http://www.joyou.com.cn/Upload/20128139292531119.jpg" alt="" />
			</a>
			<div class="news-info">
				<a href="#" class="news-title">中宇亲情畅游之“惠”更好</a>
				<div class="news-desc">
					<dl class="clearfix">
						<dd>来源：<i>中宇企划部</i></dd>
						<dd>作者：<i>何立桂</i></dd>
						<dd>日期：<i>2012-08-22 15:30</i></dd>
					</dl>
				</div>
				<div class="news-tag clearfix">
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						中宇卫浴
					</a>
					<a href="#">
						<i class="icon icon-gray icon-tag"></i>
						澎州
					</a>
				</div>
				<div class="news-intro">
					中宇亲情畅游之“惠”更好
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="pagination clearfix"><!--Page -->
	<a href="#" class="pager">首页</a>
	<a href="#" class="pager">上一页</a>
	<a href="#" class="pager">1</a>
	<a class="pager pager-active">2</a>
	<a href="#" class="pager">3</a>
	<a href="#" class="pager">4</a>
	<a href="#" class="pager">5</a>
	<a href="#" class="pager">6</a>
	<a href="#" class="pager">下一页</a>
	<a href="#" class="pager">末页</a>
</div>

{% endblock %}
