{% extends "news/layout.html" %}

{% load static %}

{% block content %}
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<h3>公司新闻</h3>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/20112219154237428.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						全面发力 亮剑彭州
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282110112817927.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						精彩中宇 晶动内蒙古
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell no-outline">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282010381442219.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						当红影星张馨予来啦
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<h3>行业新闻</h3>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/20112219154237428.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						全面发力 亮剑彭州
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282110112817927.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						精彩中宇 晶动内蒙古
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell no-outline">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282010381442219.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						当红影星张馨予来啦
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<h3>品牌动态</h3>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_2_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						中宇品质秀
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_1_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						德国上市
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell no-outline">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_3_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						亮相世博
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<h3>中宇有我</h3>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/20112219154237428.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						全面发力 亮剑彭州
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282110112817927.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						精彩中宇 晶动内蒙古
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell no-outline">
					<div class="gallery-cell-img">
						<img src="http://joyou.com.cn/Upload/201282010381442219.jpg" alt="" />
					</div>
					<div class="gallery-cell-desc">
						当红影星张馨予来啦
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
