{% extends "normal.html" %}

{% load static %}

{% block extra_css %}
<link media="all" rel="stylesheet" href="{% static "css/news.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
{% endblock %}

{% block banner %}
<div class="banner">
	<img width="952" height="176" src="{% static "img/banner_1.jpg" %}" alt="" />
</div>
{% endblock %}

{% block column_1 %}
<div class="left-nav">
	<div class="box box-closed">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>公司新闻</h3>
			</div>
		</div>
	</div>
	<div class="box box-follow box-closed">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>行业新闻</h3>
			</div>
		</div>
	</div>
	<div class="box box-follow">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>品牌动态</h3>
				<a href="javascript:;" class="box-toggle no-outline"></a>
			</div>
		</div>
		<div class="box-container">
			<ul>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">唱响中国</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">中宇品质秀</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">德国上市</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">亮相世博</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">携手高仪</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
				<li class="box-item">
					<a href="#">
						<span class="box-item-name">签约郭晶晶</span>
						<span class="box-item-arrow arrow arrow-right"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="box box-follow box-closed">
		<div class="box-title">
			<div class="box-title-inner sl-linear">
				<h3>中宇有我</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block column_2 %}
<div class="toolbox">
	<div class="breadcrumb">
		{% block breadcrumb %}
		{% endblock %}
	</div>
</div>
<div class="content">
	{% block content %}
	{% endblock %}
</div>
{% endblock %}
