{% extends "news/layout.html" %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<a href="/news/">新闻中心</a>
	<em>中宇有我</em>
{% endblock %}

{% block content %}
<div class="bookshelf">
	<div class="bookshelf-row">
		<div class="bookshelf-line clearfix">
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book1.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book3.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
		</div>
	</div>
	<div class="bookshelf-row">
		<div class="bookshelf-line clearfix">
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book1.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book3.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
		</div>
	</div>
	<div class="bookshelf-row">
		<div class="bookshelf-line clearfix">
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book1.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book3.jpg" alt="" />
			</a>
			<a href="#" class="bookshelf-cell">
				<img src="http://turnjs.com/pics/book2.jpg" alt="" />
			</a>
		</div>
	</div>
</div>
{% endblock %}
