{% extends "normal.html" %}

{% load static %}

{% block meta_keywords %}
{{ page.article.keywords }}
{% endblock %}

{% block meta_description %}
{{ page.article.description }}
{% endblock %}

{% block extra_js %}
<script src="{% static "js/libs/masonry/jquery.masonry.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.prettyPhoto.js" %}" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('#honor-list').masonry({
			itemSelector: '.waterfall-box'
		});
		$("a[rel^='prettyPhoto']").prettyPhoto({
			theme:'facebook',
			slideshow: 8000,
			autoplay_slideshow: true
		});
	});
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link media="all" rel="stylesheet" href="{% static "css/news.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/article.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
{% endblock %}

{% block banner %}
<div class="banner">
	<img src="{% static "img/banner_1.jpg" %}" alt="" />
</div>
{% endblock %}

{% block column_1 %}
{% include "pages/includes/left_nav.html" %}
{% endblock %}

{% block column_2 %}
<div class="toolbox">
	<div class="breadcrumb">
		{% include "pages/includes/breadcrumb.html" %}
	</div>
</div>
<div class="content">
	<div class="hlist honor-list">
		{% for year in years %}
		<div class="hbox honor {% if forloop.counter|divisibleby:"3" %}last{% endif %}">
			<div class="honor-bg"></div>
			<div class="honor-img">
				<a href="">
					<img src="{{ MEDIA_URL }}{{ year.image }}" alt="" />
				</a>
			</div>
			<div class="honor-info">
				{{ year.name }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
