{% extends "normal.html" %}

{% load static %}

{% block meta_keywords %}
{{ page.article.keywords }}
{% endblock %}

{% block meta_description %}
{{ page.article.description }}
{% endblock %}

{% block extra_js %}
<script src="{% static "js/libs/gallery/jquery.ad-gallery.js" %}" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$("#gallery").adGallery();
	});
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "js/libs/gallery/jquery.ad-gallery.css" %}" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link media="all" rel="stylesheet" href="{% static "css/news.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/article.css"%}" type="text/css" />
<link media="all" rel="stylesheet" href="{% static "css/shadows.css"%}" type="text/css" />
<style type="text/css">
#gallery {
	width: 600px;
	margin: 0 auto;
}
</style>
{% endblock %}

{% block banner %}
<div class="banner">
	<img width="952" height="176" src="{% static "img/banner_1.jpg" %}" alt="" />
</div>
{% endblock %}

{% block column_1 %}
{% include "pages/includes/left_nav.html" %}
{% endblock %}

{% block column_2 %}
<div class="toolbox">
	<div class="breadcrumb">
		{% include "pages/includes/breadcrumb.html" %}
	</div>
</div>
<div class="content">
	<div id="gallery" class="ad-gallery">
		<div class="ad-image-wrapper"></div>
		<div class="ad-controls"></div>
		<div class="ad-nav">
			<div class="ad-thumbs">
				{% for honor in honors.all %}
				<li>
					<a class="no-outline" href="{{ MEDIA_URL }}{{ honor.image }}"> <img src="{{ MEDIA_URL }}{{ honor.thumbnail }}" title="{{ honor.name }}" alt="{{ honor.description }}" height="60"/> </a> 
				</li>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
