{% extends "press/layout.html" %}

{% load static %}

{% block breadcrumb %}
	<a href="/">首页</a>
	<em>{{ page.title }}</em>
{% endblock %}

{% block content %}
{% for cate, articles in latest %}
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<a href="{{ cate.get_absolute_url }}">
			<h3>{{ cate.name }}</h3>
			</a>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			{% for article in articles %}
			<li>
				<a href="{{ cate.get_absolute_url }}{{ article.id }}" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="{{ article.thumbnail }}" title="{{ article.title }}" alt="{{ article.title }}" />
					</div>
					<div class="gallery-cell-desc">
						{{ article.title }}
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endfor %}
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<h3>品牌动态</h3>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_2_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						中宇品质秀
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_1_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						德国上市
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="gallery-cell no-outline">
					<div class="gallery-cell-img">
						<img src="{% static "img/brand_3_t.jpg" %}" alt="" />
					</div>
					<div class="gallery-cell-desc">
						亮相世博
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="box news-box">
	<div class="box-title">
		<div class="box-title-inner sl-linear">
			<a href="/news/magzine/">
			<h3>中宇有我</h3>
			</a>
		</div>
	</div>
	<div class="box-container">
		<ul class="box-horizontal clearfix">
			{% for magzine in magzines %}
			<li>
				<a href="{{ magzine.swf_url }}" class="gallery-cell magzine-cell" title="{{ magzine.name }}" alt="{{ magzine.name }}">
					<div class="gallery-cell-img">
						<img src="{{ MEDIA_URL }}{{ magzine.thumbnail }}" alt="{{ magzine.name }}" title="{{ magzine.name }}" />
					</div>
					<div class="gallery-cell-desc">
						{{ magzine.name }}
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
