{% extends "press/layout.html" %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="bookshelf">
	{% for magzines in chunks %}
	<div class="bookshelf-row">
		<div class="bookshelf-line clearfix">
			{% for magzine in magzines %}
				{% if magzine %}
			<a href="{{ MEDIA_URL }}upload/magzine/magzine.swf?xml={{ magzine.slug }}/pages.xml" alt="{{ magzine.name }}" class="bookshelf-cell">
				<img src="{{ MEDIA_URL }}{{ magzine.thumbnail }}" alt="{{ magzine.name }}" title="{{ magzine.name }}" />
			</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
