.article-container {
	border: 1px solid #cacaca;
	padding: 15px;
	margin-bottom: 8px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.article-title {
	padding-top: 20px;
}

.article-title h1 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 160%;
	text-align: center;
}

.article-title h2 {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 160%;
	text-align: center;
}

.article-info {
	color: #666;
	text-align: center;
	height: 32px;
	line-height: 32px;
	_height: 24px;
	_line-height: 24px;
	_padding-top: 10px;
	font-size: 0;
}

.article-info .sns-icon {
	padding-right: 4px;
}

.article-info span, .article-info a {
	font-size: 12px;
}

.article-info i {
	color: #d33;
	margin: 0 7px 0 0;
	font-style: normal;
}

.article-info .sns-icon {
	margin-bottom: -3px;
}

.article-container .separator {
	border-bottom: 1px solid #d3d3d3;
	margin: 2px 30px;
}

.article {
	margin: 15px 0 20px 0;
	display: block;
	padding: 0 30px;
}

.article p {
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 0 0 20px;
	text-indent: 2em;
}
