.dealer-container {
	padding-top: 15px;
}

.dealer-search {
	background: #cfcfcf;
	color: #036;
	padding: 0 2px;
	height: 28px;
	overflow: hidden;
	line-height: 1.2;
}

.dealer-search table {
	padding: 0 5px;
}

.dealer-search td {
	padding: 2px 0;
	text-align: left;
}

.dealer-search select {
	color: #036;
}

.dealer-search a {
	display: block;
	padding-top: 3px;
}

.dealer-list {
	border: 1px solid #cfcfcf;
	border-top: none;
	line-height: 2.2;
	overflow-y: auto;
	padding: 6px 5px;
	height: 205px;
}

.dealer-info {
	background: #eee url(img/dealer_arrow.gif) no-repeat 8px 9px;
	padding: 0 3px 0 19px;
}

.dealer-info a, .dealer-address a {
	color: #036;
	text-decoration: none;
}

.dealer-info a:hover, .dealer-address a:hover {
	color: #0082e6;
}

.dealer-contact {
	float: right;
}

.dealer-address {
	color: #666;
	padding: 0 7px 0 19px;
}

.dealer-detail {
	background: url(img/dealer_arrow.gif) no-repeat 0 10px;
	float: right;
	padding-left: 9px;
	text-decoration: none;
}

.dealer-location {
	background: #eee;
	margin-top: 14px;
	padding: 4px 2px;
}

.dealer-map {
	height: 560px;
}

.address-search {
	height: 33px;
	overflow: hidden;
}

.address-input {
	background: #fff;
	padding: 4px 6px 0;
	height: 23px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	position: relative;
	font: 17px arial,sans-serif;
	float: left;
}

.address-input input {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	width: 650px;
}

.address-btn {
	margin-left: 16px;
	width: 70px;
	float: left;
	background: #4d90fe;
	border: 1px solid #3079ed;
}

.address-btn a {
	color: #fff;
	height: 27px;
	line-height: 27px;
	display: block;
	padding: 0 6px;
	background: none;
	border: none;
	font-size: 17px;
	text-align: center;
}

