body {
	color: #404040;
	font-family: Verdana,Segoe,Tahoma,sans-serif;
	font-size: 12px;
	line-height: 16px;
}

.page a {
	color: #8d8d8d;
}

.bg_main_top {
	background: url(img/bg_top.gif);
	height: 222px;
	position: relative;
	width: 100%;
	z-index: 0;
}

.bg_main_bottom {
	background: url(img/bg_bottom.gif);
	height: 120px;
	position: relative;
	width: 100%;
	z-index: 0;
}

.container_overlay {
	background: url(img/bg_shadow.png) repeat-y;
	position: relative;
	width: 1024px;
	margin: -222px auto -120px;
	z-index: 1;
	_background: none;
	_FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/static/css/img/bg_shadow.png')
}

.container {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	position: relative;
	height: 158px;
	z-index: 10;
}

.header_bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 158px;
	width: 100%;
	/*
	background: url(img/header_bg.png);
	_background: none;
	_FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/static/css/img/header_bg.png')
	*/
}

.logobox {
	top: 20px;
	left: 25px;
	width: 296px;
	height: 60px;
	position: absolute;
	background: url("img/logo.png");
	_background: none;
	_FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/static/css/img/logo.png')
}

.top_links {
	position: absolute;
	right: 25px;
	top: 5px;
	color: #fff;
}

.links_pipe {
	margin: 0 6px;
}

.top_links a {
	color: #fff;
	text-decoration: none;
}

.top_links a:hover {
	color: #fc3;
	border-bottom: 1px dotted #fc3;
}

.header_search_box {
	position: absolute;
	right: 25px;
	top: 55px;
}

.search_bar {
	background: white;
	border-color: #2d5b7c;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
}

.search_bar_input {
	background: white;
	border: none;
	height: 18px;
	margin: 0 0 0px 5px;
	padding: 3px 0 1px;
	width: 198px;
}

.search_bar_submit {
}

.search_bar_filter {
}

.main_nav {
	height: 34px;
	position: relative;
	top: 100px;
	width: 950px;
	margin: 0 auto;
	border: 1px solid #d9d9d9;
}

.main_menu {
	zoom:1;
	height:32px;
	border:1px solid #fff;
	background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
	background:-moz-linear-gradient(top,#fff,#e0e0e0);
	background:-o-linear-gradient(top,#fff,#e0e0e0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e0e0e0');
	-webkit-box-shadow:5px 5px 7px #999;
	-webkit-box-shadow:5px 5px 7px #999;
	box-shadow:0 1px 3px rgba(153,153,153,0.8)
}

.main_menu_item_leaf, .main_menu_item {
	float: left;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-right:1px solid #fff;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
}

a.main_menu_item_link {
	float: left;
	color: #333;
	display: block;
	height: 32px;
	padding: 0 25px;
	position: relative;
	text-decoration: none;
	border-right: 1px solid #d9d9d9;
	font-size: 14px;
	font-weight: bold;
}

.hovered a.main_menu_item_link, .current a.main_menu_item_link {
	background:-webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#fff));
	background:-moz-linear-gradient(top,#e0e0e0,#fff);
	background:-o-linear-gradient(top,#e0e0e0,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',endColorstr='#ffffff')
}

/*
.hovered a.main_menu_item_link {
	height: 34px;
}
*/

.main_menu_item .dropmenu {
	background: url(img/global_layer_bg.png) repeat scroll 0 0 transparent;
	width: 140px;
	padding: 2px 1px 4px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	color: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 32px;
	left: -2px;
	display: none;
	overflow: visible;
}

.main_menu_item ul {
	margin: 0 4px;
	padding: 3px 0 0;
}

.dropmenu .main_menu_item_leaf,.dropmenu .main_menu_item {
	height: 28px;
	line-height: 28px;
}

.main_menu_item ul li {
	text-align: left;
	float: none;
	border: none;
	float: left;
	width: 100%;
}

.main_menu_item ul li a.main_menu_item_link {
	float: none;
	border: none;
	background: none;
	filter: none;
	font-size: 12px;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
}

.main_menu_item ul li.main_menu_item
{
	background: url(img/vertical-menu-submenu-indicator.png) no-repeat scroll right center transparent;
}

.main_menu_item ul li.hovered {
	background-color: #4ba4f3;
}

.main_menu_item ul .dropmenu {
	top: 0px;
	left: 132px;
	border-top: 1px solid #d9d9d9;
}

.page {
	width: 952px;
	margin: 0 auto;
	z-index: 5;
}

.footer {
	position: relative;
}

/*
.partner {
	position: absolute;
	right: 10px;
	top: 60px;
	height: 28px;
}

.partner dt {
	float: left;
	font: 16px "微软雅黑";
	margin: 24px 17px 0 34px;
	_display: inline;
}

.partner dd {
	float: left;
	margin: 24px 10px 0;
}

.partner dd a {
	background: url(img/partners.gif) no-repeat;
	display: block;
	text-indent: -9999px;
	height: 28px;
}

.partner .tmall {
	width: 28px;
	background-position: -78px 0;
}

.partner .grohe {
	width: 78px;
	background-position: 0 0;
}

.partner .weibo {
	width: 93px;
	background-position: -107px 0;
}
*/

.footer-menu {
	width: 952px;
	height: 24px;
	margin: 0 auto;
}

.footer-menu li {
	background: url(img/divider.gif) no-repeat right center;
	float: left;
	height: 24px;
	line-height: 24px;
	font-size: 13px;
	color: #8d8d8d;
}

.footer-menu li.first-child, .footer-menu li.last-child {
	background: none;
}

.footer-menu li.first-child {
	width: 365px;
}

.footer-menu li.last-child a {
	margin-right: 0;
}

.footer-menu li a {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 17px;
	color: #8d8d8d;
	height: 15px;
	line-height: 15px;
}

.footer-menu li a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #D53C00;
	color: #D53C00;
}

.footer-menu a {
}

.footer-menu span.footer-tel {
	float: right;
}

.copyright {
	font-size: 13px;
	padding: 20px 0;
	color: #8d8d8d;
	text-align: center;
}

.column-1 {
	width: 190px;
	margin: 0 10px 10px 0;
	float: left;
}

.column-2 {
	width: 752px;
	float: left;
}

.toolbox {
	position: relative;
	z-index: 11;
	height: 24px;
	border: 1px solid #d1d1d1;
	background: #f3f3f3;
	cursor: default;
}

.breadcrumb {
	position: relative;
	float: left;
	overflow: hidden;
}

.breadcrumb a,
.breadcrumb em,
.breadcrumb span {
	float: left;
	max-width: 150px;
	height: 24px;
	margin-left: -8px;
	padding: 0 18px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #999;
	background: url(img/breadcrumb.png) no-repeat 0 0;
	_background-image: url(img/breadcrumb.gif);
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #666;
	background-color: #fff;
	background-position: 0 -24px;
}

.breadcrumb i {
	display: none;
}

.breadcrumb span {
	position: relative;
	padding-right: 25px;
}


