.serials li {
	float: left;
	line-height: 20px;
	padding: 20px 12px 10px;
	width: 215px;
}

.serials h5 {
	color: #1E6FF4;
	font-size: 14px;
	font-weight: bold;
}

.products h5 {
	padding-top: 5px;
	text-align: center;
	font-weight: normal;
}

.products img {
	border: 2px solid #ccc;
}

.products img, .product-list-row img {
	display: block;
}

.serials p {
	font-size: 12px;
	color: #9D9D9D;
}

.serial-view {
	padding-top: 20px;
}

.serial-view .serial-pic {
	float: left;
	width: 600px;
	height: 400px;
}

.serial-view .serial-pic img {
	display: block;
	width: 600px;
	height: 400px;
}

.serial-view .prev-button {
	background: url(img/btn_prev_atv.png) no-repeat;
	_background: url(img/btn_prev_atv.gif) no-repeat;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-top: 160px;
}

.serial-view .prev-button-disable {
	background: url(img/btn_prev_datv.png) no-repeat;
	_background: url(img/btn_prev_datv.gif) no-repeat;
}

.serial-view .next-button {
	background: url(img/btn_next_atv.png) no-repeat;
	_background: url(img/btn_next_atv.gif) no-repeat;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-top: 160px;
}

.serial-view .next-button-disable {
	background: url(img/btn_next_atv.png) no-repeat;
	_background: url(img/btn_next_atv.gif) no-repeat;
}

.thumbs-box {
	height: 69px;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.thumbs-box li {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.thumbs-box li a {
	display: block;
	border: 1px solid #fff;
	padding: 2px;
}

.thumbs-box li a:hover, .thumbs-box li a.thumb-active {
	border: 1px solid #00A8DF;
}

.thumbs-box li a img {
	display: block;
	width: 81px;
	height: 54px;
}

.serial-info {
	position: relative;
}

.tab-bar {
	margin-top: 25px;
	background: #fff;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	height: 34px;
	position: relative;
	z-index: 2;
}

.tab-bar li {
	height: 36px;
	line-height: 16px;
	margin-right: -1px;
	border-right: 1px solid #d7d7d7;
	float: left;
	_margin-top: 2px;
	_margin-bottom: -4px;
}

.tab-bar li.tab-first {
	border-left: none;
	margin-left: -1px;
}

.tab-bar li.tab-last {
	height: 34px;
	line-height: 34px;
	margin-top: 0;
}

.tab-bar ul li.selected {
	background: #f6f6f6;
	height: 36px;
	line-height: 36px;
	margin-right: -1px;
	margin-top: 0;
	border-bottom: none;
	border-left: 1px solid #d7d7d7;
	border-top: 2px solid #09f;
	top: -3px;
	position: relative;
}

.tab-bar .tab-anchor {
	color: #000;
	display: block;
	font-weight: bold;
	line-height: 36px;
	padding: 0 25px;
}

.tab-bar .tab-anchor:hover {
	color: #09f;
}

.tab-bar .selected .tab-anchor:hover {
	color: #000;
}

.serial-info .tab-content {
	background-color: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin-bottom: 10px;
	padding: 20px 15px 10px;
	position: relative;
	z-index: 1;
	font-size: 12px;
}

.product-list-row {
	background: url(img/line_shadow_large.png) no-repeat -90px bottom;
	_background: url(img/line_shadow_large.gif) no-repeat -90px bottom;
	margin-top: 20px;
}

.product-list-row ul {
	padding: 0 10px 25px;
}

.product-list-row li {
	float: left;
	padding: 0 8px 5px 7px;
	width: 215px;
	overflow: hidden;
}

.product-list-row li.first-item {
	border-left: none;
}

.product-list-row .img-box {
	margin-bottom: 10px;
}

.product-list-row .info-box {
	padding-left: 15px;
	position: relative;
}

.product-list-row h5 {
	font-size: 15px;
	color: #666;
	margin-bottom: 10px;
	display: block;
}

.product-list-row .title {
	background: url(img/more_btn.png) no-repeat right center;
	_background: url(img/more_btn.gif) no-repeat right center;
	display: block;
	color: #999;
	font-size: 13px;
	margin-right: 10px;
}

.product-show {
	margin-top: 15px;
	border: 1px solid #A5DAE6;
}

.product-show .img-box {
	border-right: 1px solid #A5DAE6;
	height: 325px;
	width: 400px;
	float: left;
}

.product-show .info-box {
	padding: 14px;
	float: left;
}

.product-show .info-box .detail {
	width: 300px;
}

.product-show .info-box h5 {
	font-size: 24px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	text-overflow: ellipsis;
}

.product-show .spu {
	border-top: 1px dashed #ccc;
}

.product-show .spu-info {
	margin-top: 10px;
	overflow: hidden;
}

.product-show .spu-info li {
	color: #909090;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-show .spu-info span {
	padding-left: 5px;
}

.product-show .spu-info tr {
	color: #909090;
	height: 24px;
	line-height: 24px;
}
