.pbanner img {
	width: 980px;
	height: 240px;
}

.pbanner {
	height: 240px;
	width: 980px;
	overflow: hidden;
	position: relative;
}

.pbanner .slide-desc {
	position: absolute;
	top: 0;
	left: 680px;
	width: 300px;
	height: 240px;
}

.slide-desc h3 {
	padding-top: 15px;
	font-size: 16px;
}

.slide-desc p {
	padding-top: 5px;
	font-size: 12px;
	line-height: 20px;
	color: #999;
}

.serials, .products {
	margin-top: 15px;
}

.serials li, .products li {
	box-shadow:0 1px 3px rgba(34,25,25,.4);
	-moz-box-shadow:0 1px 3px rgba(34,25,25,.4);
	-webkit-box-shadow:0 1px 3px rgba(34,25,25,.4);
	filter: 
	progid:DXImageTransform.Microsoft.Shadow(color=#adacac,direction=0,strength=1)
	progid:DXImageTransform.Microsoft.Shadow(color=#adacac,direction=90,strength=2)
	progid:DXImageTransform.Microsoft.Shadow(color=#adacac,direction=180,strength=2)
	progid:DXImageTransform.Microsoft.Shadow(color=#adacac,direction=270,strength=1);
}

.serials li {
	float: left;
	margin: 0 10px 15px 0;
	*margin: 0 5px 15px 0;
	line-height: 20px;
	padding: 0;
	background-color: #fff;
}

.serials .last, .products .last, .products-top .last {
	margin-right: 0;
}

.serials li:hover, .products li:hover {
	box-shadow:0 1px 5px rgba(34,25,25,.8);
	-moz-box-shadow:0 1px 5px rgba(34,25,25,.8);
	-webkit-box-shadow:0 1px 5px rgba(34,25,25,.8);
	filter: 
	progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=0,strength=1)
	progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=90,strength=2)
	progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=180,strength=2)
	progid:DXImageTransform.Microsoft.Shadow(color=#111111,direction=270,strength=1);
}

.serials li a {
	display: block;
	width: 300px;
	padding: 10px 10px 0 10px;
}

.serials li img {
	display: block;
	width: 300px;
	height: 200px;
}

.serials h5, .products h5 {
	padding-left: 10px;
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

.serials p {
	padding: 0 10px 5px;
}

.products-top li {
	margin: 10px 10px 0 0;
}

.products li {
	float: left;
	text-align: center;
	width: 236px;
	margin: 0 12px 15px 0;
	*margin: 0 7px 15px 0;
	background: #fff;
}

.products a {
	display: block;
	padding: 10px 10px 0 10px;
}

.products .img-box {
	width: 216px;
	height: 142px;
	*width: auto;
	*height: auto;
	font-size: 103px;
}

.products .last {
	margin-right: 0;
}

.products h5 {
	border-top: 1px solid #d8d8d8;
	margin: 5px 10px 5px;
	text-align: right;
	height: 24px;
	line-height: 24px;
}

.serials p, .products p {
	font-size: 12px;
	color: #9D9D9D;
	text-align: left;
	padding: 0 10px 5px;
}

.products p {
	text-align: right;
}

.serial-view {
	padding: 20px 0;
}

.serial-view .serial-pic {
	float: left;
	height: 520px;
	width: 780px;
}

.serial-view .serial-desc {
	float: left;
	height: 518px;
	width: 183px;
	padding-left: 15px;
	border: 1px solid #b1b1b1;
	background: url(img/body_bg.gif);
}

.serial-view .serial-pic img {
	display: block;
	width: 780px;
	height: 520px;
}

.serial-view .prev-button {
	background: url(img/btn_prev_atv.png) no-repeat;
	_background: url(img/btn_prev_atv.gif) no-repeat;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-top: 160px;
}

.serial-view .prev-button-disable {
	background: url(img/btn_prev_datv.png) no-repeat;
	_background: url(img/btn_prev_datv.gif) no-repeat;
}

.serial-view .next-button {
	background: url(img/btn_next_atv.png) no-repeat;
	_background: url(img/btn_next_atv.gif) no-repeat;
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-top: 160px;
}

.serial-view .next-button-disable {
	background: url(img/btn_next_atv.png) no-repeat;
	_background: url(img/btn_next_atv.gif) no-repeat;
}

.serial-desc h2 {
	margin-top: 20px;
}

.serial-desc p {
	padding: 5px 0;
}

.thumbs-box {
	height: 69px;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.thumbs-box li {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.thumbs-box li a {
	display: block;
	border: 1px solid #fff;
	padding: 2px;
}

.thumbs-box li a:hover, .thumbs-box li a.thumb-active {
	border: 1px solid #00A8DF;
}

.thumbs-box li a img {
	display: block;
	width: 81px;
	height: 54px;
}

.serial-info {
	position: relative;
}

.tab-bar {
	margin-top: 25px;
	background: #fff;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	height: 34px;
	position: relative;
	z-index: 2;
}

.tab-bar li {
	height: 36px;
	line-height: 16px;
	margin-right: -1px;
	border-right: 1px solid #d7d7d7;
	float: left;
	_margin-top: 2px;
	_margin-bottom: -4px;
}

.tab-bar li.tab-first {
	border-left: none;
	margin-left: -1px;
}

.tab-bar li.tab-last {
	height: 34px;
	line-height: 34px;
	margin-top: 0;
}

.tab-bar ul li.selected {
	background: #f6f6f6;
	height: 36px;
	line-height: 36px;
	margin-right: -1px;
	margin-top: 0;
	border-bottom: none;
	border-left: 1px solid #d7d7d7;
	border-top: 2px solid #09f;
	top: -3px;
	position: relative;
}

.tab-bar .tab-anchor {
	color: #000;
	display: block;
	font-weight: bold;
	line-height: 36px;
	padding: 0 25px;
}

.tab-bar .tab-anchor:hover {
	color: #09f;
}

.tab-bar .selected .tab-anchor:hover {
	color: #000;
}

.serial-info .tab-content {
	background-color: #f6f6f6;
	border: 1px solid #d7d7d7;
	border-top: none;
	margin-bottom: 10px;
	padding: 20px 15px 10px;
	position: relative;
	z-index: 1;
	font-size: 12px;
}

.product-list-row {
	background: url(img/line_shadow_large.png) no-repeat center bottom;
	_background: url(img/line_shadow_large.gif) no-repeat center bottom;
	margin-top: 20px;
}

.product-list-row ul {
	padding: 0 10px 25px;
}

.product-list-row li {
	float: left;
	padding: 0 8px 5px 7px;
	width: 215px;
	overflow: hidden;
}

.product-list-row li.first-item {
	border-left: none;
}

.product-list-row .img-box {
	margin-bottom: 10px;
}

.product-list-row .info-box {
	padding-left: 15px;
	position: relative;
}

.product-list-row h5 {
	font-size: 15px;
	color: #666;
	margin-bottom: 10px;
	display: block;
}

.product-list-row .title {
	background: url(img/more_btn.png) no-repeat right center;
	_background: url(img/more_btn.gif) no-repeat right center;
	display: block;
	color: #999;
	font-size: 13px;
	margin-right: 10px;
}

.product-show {
	margin-top: 15px;
	border: 1px solid #A5DAE6;
}

.product-show .hbox {
	position: relative;
}

.product-show .tech-box {
	position: absolute;
	right: 10px;
	bottom: 0;
	z-index: 100;
}

.product-show .tech-box img {
	width: 48px;
	height: 48px;
}

.product-show .hbox {
	vertical-align: top;
}

.product-show .img-box {
	border-right: 1px solid #A5DAE6;
	height: 480px;
	width: 640px;
	font-size: 380px;
}

.product-show .info-box {
	padding: 14px;
}

.product-show .info-box .detail {
	width: 300px;
}

.product-show .info-box h5 {
	font-size: 24px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	text-overflow: ellipsis;
}

.product-show .spu {
	border-top: 1px dashed #ccc;
}

.product-show .spu-info {
	margin-top: 10px;
	overflow: hidden;
}

.product-show .spu-info li {
	color: #909090;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-show .spu-info span {
	padding-left: 5px;
}

.product-show .spu-info tr {
	color: #909090;
	height: 24px;
	line-height: 24px;
}
