<!DOCTYPE HTML>
{% load i18n static %}

<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="中宇建材集团有限公司,中宇卫浴,中宇,龙头,淋浴柱和花洒,陶瓷洁具,浴室柜,浴缸,浴室挂件,感应产品,五金配件" />
	<meta name="description" content="中宇建材集团有限公司位于海峡西岸经济区内的古城泉州，是中国最大的卫浴水暖产品及配件制造商之一，也是亚洲最具规模的水龙头及铜阀门配件出口企业之一，同时是中国卫浴水暖产品多项国家标准主要起草单位。" />
	<title>{% block meta_title %}{% endblock %} | 中宇卫浴-JOYOU</title>
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
	<link media="all" rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
	{% block extra_css %}{% endblock %}
	<script src="{% static "js/libs/jquery/1.7.2/jquery-debug.js" %}"></script>
	<script src="{% static "js/nav.js" %}"></script>
	{% block extra_js %}{% endblock %}
	{% block extra_head %}{% endblock %}
</head>
<body>
	<div class="container_overlay">
		<div class="container">
			<div class="header">
				{% include "pages/includes/header.html" %}
			</div>
			<div class="page">
				{% block page %}{% endblock %}
			</div>
			<div class="footer">
				{% include "pages/includes/footer.html" %}
			</div>
		</div>
	</div>
	{% block overlay %}{% endblock %}
</body>
</html>
