<% _.each(accordions, function(accrodion) { %>
<div class="accordion-group">
	<div class="accordion-heading" data-toggle="accordion">
		<div class="openclose"></div>
		<div class="accordion-label"><%= accordion.name %></div>
	</div>
	<div class="accordion-body">
		<div class="accordion-item">
			<div class="arrow"></div>
			<div class="accordion-label">normal</div>
		</div>
		<div class="accordion-item">
			<div class="arrow"></div>
			<div class="accordion-label">email</div>
		</div>
		<div class="accordion-item">
			<div class="arrow"></div>
			<div class="accordion-label">sms</div>
		</div>
	</div>
</div>
<% }) %>

