<div class="footer-shadow"> </div>
<div class="footer-wrap">
	<ul class="footer-menu">
		<li><a href="#">关于中宇</a></li>
		<li><a href="#">联系中宇</a></li>
		<li><a href="#">法律条款</a></li>
		<li><a target="_blank" href="http://www.grohe.com">德国高仪</a></li>
		<li><a target="_blank" href="http://joyou.tmall.com">中宇天猫商城</a></li>
		<li class="last-child"><a target="_blank" href="http://e.weibo.com/518661979">中宇官方微博</a></li>
	</ul>

	<div class="friend-links">
		<a target="_blank" href="http://www.grohe.com" class="friend-grohe"></a>
		<a target="_blank" href="http://joyou.tmall.com" class="friend-tmall"></a>
		<a target="_blank" href="http://e.weibo.com/518661979" class="friend-weibo"></a>
	</div>

	<div class="clear"></div>

	<div class="copyright">
		<p><span>版权所有</span>&copy;2009-2012 中宇卫浴 www.joyou.com.cn | 闽ICP备05001132号 | 全国免费服务热线：400-880-2789</p>
	</div>
</div>
