{% load tree_tags %}
<div class="header_bg"></div>
<div class="top_links">
	<span class="current_site">
		<b>中文</b>
	</span>
	<span class="links_pipe">|</span>
	<a href="#">德文</a>
	<span class="links_pipe">|</span>
	<a href="#">英文</a>
	<span class="links_pipe">|</span>
	<a href="#">网站地图</a>
</div>
<a href="/" class="logobox"></a>
<div class="header_search_box" id="header_search_box">
	<form id="search_form" action="{% url joyou_search %}">
		<input calss="no-outline" type="text" max-length="40" value="" title="搜索文本框" name="q" />
		<a class="btn search_bar_submit" id="search_button" href="javascript:;" title="搜索按钮"></a>
	</form>
</div>
<div class="main_nav">
	<ul class="main_menu clearfix">
		<li class="main_menu_item_leaf">
			<a class="main_menu_item_link" href="/"><span>首页</span></a>
		</li>
		{% recursetree pages %}
		<li class="main_menu_item_{{ node.slug }} main_menu_item{% if node.is_leaf_node %}_leaf{% endif %} {% if node == main_current %}current{% endif %}">
			<a class="main_menu_item_link" href="{{ node.get_absolute_url }}"><span>{{ node.title }}</span></a>
			{% if not node.is_leaf_node %}
			<div class="dropmenu">
				<ul class="clearfix">
					{{ children }}
				</ul>
			</div>
			{% endif %}
		</li>
		{% endrecursetree %}
	</ul>
</div>

