.slideshow {
	width: 400px;
	height: 400px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background: #101010 url(img/loading.gif) no-repeat center center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.slideshow a {
	outline: none;
}

.slideshow a img {
	border: none;
}

.slideshow_wrapper {
	width: 400px;
	height: 400px;
	position: relative;
	margin: 0;
	padding: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.slideshow_wrapper img {
	display: inline-block !important;
	vertical-align: middle;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.slideshow_controls {
	position: absolute;
	bottom: 15px;
	right: -110px;
	width: 104px;
	height: 26px;
	z-index: 20;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #000;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.slideshow_controls a {
	float: left;
	background-color: #000;
	width: 20px;
	height: 20px;
	margin: 3px 3px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background-repeat: no-repeat;
	background-position: center center;
}

.slideshow_controls a:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.slideshow_grid {
	background-image: url(img/grid.png);
	_background-image: url(img/grid.gif);
}

.slideshow_prev {
	background-image: url(img/prev.png);
	_background-image: url(img/prev.gif);
}

.slideshow_next {
	background-image: url(img/next.png);
	_background-image: url(img/next.gif);
}

.slideshow_pause {
	background-image: url(img/pause.png);
	_background-image: url(img/pause.gif);
}

.slideshow_play {
	background-image: url(img/play.png);
	_background-image: url(img/play.gif);
}

.slideshow_thumbs {
	background: #000;
	position: absolute;
	width: 250px;
	height: 166px;
	top: -230px;
	left: 50%;
	padding: 30px;
	margin: 0 0 0 -155px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	opacity: 0.9;
	filter:alpha(opacity=90);
	overflow: hidden;
}

.slideshow_thumbs_wrapper {
	position: absolute;
	width: 250px;
	height: 166px;
	top: 30px;
	left: 30px;
	z-index: 30;
}

.slideshow_thumbs_wrapper a {
	display: block;
	width: 75px;
	height: 75px;
	float: left;
	margin: 4px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.slideshow_thumb_next,
.slideshow_thumb_prev {
	width: 18px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.slideshow_thumb_next:hover,
.slideshow_thumb_prev:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.slideshow_thumb_next {
	background-image: url(img/next_thumb.png);
	_background-image: url(img/next_thumb.gif);
	right: 5px;
}

.slideshow_thumb_prev {
	background-image: url(img/next_prev.png);
	_background-image: url(img/next_prev.gif);
	left: 5px;
}

.slideshow_thumb_close {
	position: absolute;
	bottom: 0;
	width: 50px;
	left: 50%;
	margin: 0 0 0 -25px;
	background: #202020 url(img/up.png) no-repeat center center;
	_background: #202020 url(img/up.gif) no-repeat center center;
	height: 16px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.slideshow_thumb_close:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.slideshow_thumb_loading {
	position: absolute;
	background: transparent url(img/loading.gif) no-repeat center center;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	z-index: 25;
	display: none;
}
